.inpuiry {
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
}

iframe {
  width: 100%;
  height: 720px;
  border: none;
}

/* PC向けのスタイル */
@media only screen and (min-width: 600px) {
  .form iframe:nth-child(1) {
    display: block;
  }
  .form iframe:nth-child(2) {
    display: none;
  }
}

/* スマートフォン向けのスタイル */
@media only screen and (max-width: 600px) {
  .inpuiry {
    padding: 0 30px;
  }

  .form iframe:nth-child(1) {
    display: none;
  }
  .form iframe:nth-child(2) {
    display: block;
  }
}