.overview {
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
}

.overview-container {
  /* padding: 20px 0; */
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview-table {
  width: 100%;
}

.overview-table-row {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7eeed;
  padding: 10px 0;
  color: #666;
}

.overview-title {
  width: 20%;
  text-align: center;
}

.overview-title p {
  font-weight: bold;
}

.overview-item {
  width: 70%;
  margin-left: 10px;
  box-sizing: border-box;
}

/* スマートフォン向けのスタイル */
@media only screen and (max-width: 600px) {
  .overview {
    padding: 0 30px;
  }
}